.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  padding-bottom: 50px;
}
.item img{
  height: 60px;
  width: 40px;
  margin-left: 5%;
  margin-bottom: 2%;
}

.itemNameCant{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.itemTrashPrice{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  height: 80%;
}

.trash{
  height: 20px;
  width: 20px;
  cursor: pointer;
}