.mainContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #9d9d9d;
}

.navList{
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 1.5rem;
}
.navList div{
  text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
}
.navList a{
  text-decoration: none;
  color: black;
}
.navList li{
  position: relative;
}

.productsList{
  list-style-type: none;
  position: absolute;
  height: auto;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #9d9d9d;
  border-left: 1px solid #9d9d9d;
  border-right: 1px solid #9d9d9d;
  align-items: center;
  padding-top: 10%;
}
.productsList li{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px; 
}
.productsList li:hover{
  color: white;
    background-color: black;
    cursor: pointer;
}

.productListOn{
  display: inline-block;
}
.productListOff{
  display: none;
}

.brandList{
  list-style-type: none;
  position: absolute;
  height: auto;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #9d9d9d;
  border-left: 1px solid #9d9d9d;
  border-right: 1px solid #9d9d9d;
  align-items: center;
  padding-top: 10%;
}
.brandList li{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px; 
}
.brandList li:hover{
  color: white;
  background-color: black;
  cursor: pointer;
}

.brandListOn{
  display: inline-block;
}
.brandListOff{
  display: none;
}