.topNavBarContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.searchInput{
  position: relative;
  display: flex;
  height: 45px;
  grid-column: 4 / 8;
  align-self: center;
}
.searchInput input{
  outline: none;
  align-self: center;
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

.searchIcon{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2%;
  top: 6%;
  height: 40px;
  width: 35px;
  border-left: 1px solid grey;
}

.logo{
  height: 70%;
  grid-column: 2;
  background-color: black;
  align-self: center;
  transition-duration: 1s;
}
.smallLogo{
  width: 50%;
}
.normalLogo{
  width: 100%;
}

.profileCartIcons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: 9 / 11;
}
.profileCartIcons section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.signOrRegister{
  z-index: 1;
  position: absolute;
  height: auto;
  top: 43%;
  background-color: white;
  border-bottom: 1px solid #9d9d9d;
  border-right: 1px solid #9d9d9d;
  border-left: 1px solid #9d9d9d;
  padding-top: .5%;
}
.signOrRegister a{
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  padding: 3.8px;
  color: black;
}
.signOrRegister a:hover{
  color: white;
  background-color: black;
}
.signOrRegisteOn{
 display: inline-block;
}
.signOrRegisteOff{
  display: none;
}

.cartContainer{
  z-index: 1;
  display: none;
  position: absolute;
}

.cartBackground{
  height: 100vh;
  width: 100vw;
  background-color: #36363668;
  cursor: pointer;
}

.bsIconSearch{
  height: 30px;
  width: 30px;
  margin-left: 5px;
  color: #4c4c4c;
}

.profileIcon{
  height: 70%;
  width: 30px;
}

.cartIcon{
  height: 70%;
  width: 30px;
  cursor: pointer;
}